# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
/.quarto/
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown site
# docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
*.svs
# Renv
/renv/
# EN
/EN/R/
/EN/localActions.sh
/EN/patolojiatlasi-github-io.Rproj
/EN/patolojiatlasi-github-io.code-workspace
/EN/public
/EN/renv
/EN/EN
/EN/R
/EN/README.md
/EN/googlefdf78975d31d4cca.html
/EN/language.txt
/EN/docs
/EN/quarto-0.2.232-linux-amd64.deb
/EN/CNAME
/EN/openseadragon/
/EN/*.deb
#docs
/docs/R/
/docs/localActions.sh
/docs/patolojiatlasi-github-io.Rproj
/docs/patolojiatlasi-github-io.code-workspace
/docs/public
/docs/renv
/docs/EN
/docs/R
/docs/README.md
/docs/googlefdf78975d31d4cca.html
/docs/language.txt
/docs/docs
/docs/quarto-0.2.232-linux-amd64.deb
/docs/CNAME
/docs/openseadragon/
/docs/*.deb
#public
/public/R/
/public/localActions.sh
/public/patolojiatlasi-github-io.Rproj
/public/patolojiatlasi-github-io.code-workspace
/public/public
/public/renv
/public/EN
/public/R
/public/README.md
/public/googlefdf78975d31d4cca.html
/public/language.txt
/public/docs
/public/quarto-0.2.232-linux-amd64.deb
/public/CNAME
/public/openseadragon/
/public/*.deb
#quarto.deb
*.deb
*.deb.*
tweetstring.txt
Patoloji Atlası-win32-x64
