```{=html}

  <style>
    .list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
    }

    .list li {
      margin: 10px;
      border: 2px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .list li a {
      text-decoration: none;
      color: inherit;
    }

    .list img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .list li {
      flex: 0 1 23%; /* Four items per row with some margin */
    }

    @media (max-width: 768px) {
      .list li {
        flex: 0 1 48%; /* Two items per row on smaller screens */
      }
    }

    @media (max-width: 480px) {
      .list li {
        flex: 0 1 98%; /* One item per row on very small screens */
      }
    }
  </style>


  <ul class="list">
    <% for (const item of items) { %>
      <li <%= metadataAttrs(item) %>>
        <a href="<%= item.url %>" target="_blank">
          <img src="<%= item.screenshot %>" alt="image">
        </a>
      </li>
    <% } %>
  </ul>






```

